h1 #{title}
   h3 Facebook User Data
   p= JSON.stringify(fbUser)
   h3 Facebook User Data
   p= JSON.stringify(googleUser)
   h3 Are we authenticated with both?
   p= JSON.stringify(bothUser)
  h3
    a(href='/bye') Logout