h1 #{title}
  h2 Not Authenticated
  #fb-login.fb_button
    a.fb_button_medium(href='/auth/facebook')
      span#fb_login_text.fb_button_text Connect with Facebook
  #google-login.fb_button
    a(href='/auth/google') Sign In With Google