body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
#register
    font-size: 18px
    margin: 20px
#fb-login
    font-size: 18px
    margin: 20px
#google-login
    font-size: 18px
    margin: 20px
a
  color: #00B7FF
